# These parameters are read as a default, and can be overwritten by command line tag-value pairs
# (e.g. perl pipe1.pl -adapter 0)

# GENERAL PARAMETERS:
# [0/1] 1 for running QDD from Galaxy, 0 for running it from the terminal
galaxy = 0

# operating system [linux/win]
syst = linux

# Full path to blast executables (including the bin folder). If the folder is in your path it can be
# left empty. (e.g. C:\Program Files\NCBI\blast-2.2.25+\bin or
# /home/pri/galaxy-dist/tools/qdd/ncbi-blast-2.2.27+/bin/)
blast_path = /usr/local/bin/

# Full path to clustalw executables. If the folder is in your path it can be left empty.
# (e.g. C:\CLUSTALW2 or /home/pri/galaxy-dist/tools/qdd/clustalw-2.0.10-linux-i386-libcppstatic/)
clust_path = /usr/bin/

# Full path to the Primer3_core executable. (e.g. C:\Primer3-release-2.3.6\ or
# C:\primer3-1.1.4-WINXP\bin or /usr/bin/ /usr/local/primer3-2.3.6/src/)
primer3_path = /media/hd11/wagnerribeiro/Syagrusol/phred20/primer3-2.6.1/src

# Primer3 version [1/2] 1 for primer3-1.xxx, 2 for primer3-2.xxx
primer3_version = 2

# Full path to the QDD scripts. (e.g. /home/qdd/galaxy-dist/tools/qdd/ OR D:\QDD2.3\)
qdd_folder = /media/hd11/wagnerribeiro/Syagrusol/phred20/QDD/QDD

# Output folder name with full path. Must be created before running QDD. If not specified, output
# files are written to the current working directory
out_folder = /media/hd11/wagnerribeiro/Syagrusol/phred20/QDD/QDD/qdd_output

# [0/1] (1 to delete temporary files after the run)
del_files = 1

# String for naming the output files. All output file names start with this string. If empty, the
# input filename is used for naming the output files
outfile_string =

# [0/1] (1 to print supplementary information, only needed for debugging)
debug = 0

# Name of the local database, including full path (e.g. /usr/local/nt/nt or D:\blastdb\nt). Only
# needed if local BLAST is used for the contamination check
blastdb = /usr/local/bin/Matrices/ncbi/nt

# Number of threads for BLAST (if unsure, use 1)
num_threads = 15

# [0/1] 1: run local BLAST for the contamination check, 0: run remote BLAST for the
# contamination check
local_blast = 0

# Input sequence type for pipe1. 1 if sequences have been assembled (contigs, scaffolds,
# chromosomes), 0 if they are short sequencing reads. The same parameter is used for pipe3 to
# check the distance between nearest neighbours
contig = 1

# PIPE1 SPECIFIC PARAMETERS
# input file is in fastq format; [0/1] (1 for fastq, 0 for fasta)
fastq = 0

# if extracting microsatellites from contigs, get flank_length bp of flanking region on both sides
# of the microsatellite
flank_length = 200

# [0/1] (1 to run the adapter/vector clipping step); not applicable if contig = 1
adapter = 0

# [integer] (sequences shorter than length_limit are discarded)
length_limit = 80

# [fasta file with adapters] (can be empty if adapter = 0); not applicable if contig = 1
adapter_file =

# PIPE2 SPECIFIC PARAMETERS
# [0/1] make consensus sequences (YES=1/NO=0)
make_cons = 0

# [integer] minimum % pairwise identity between sequences of a contig (80-100)
ident_limit = 95

# [floating] proportion of sequences that must share the same base at a site to accept it as a
# consensus (0.5-1)
prop_maj = 0.66

# PIPE3 SPECIFIC PARAMETERS
# minimum PCR product size
pcr_min = 120

# maximum PCR product size
pcr_max = 200

# PCR product size interval
pcr_step = 50

PRIMER_GC_CLAMP = 0
PRIMER_MIN_SIZE = 18
PRIMER_MAX_SIZE = 23
PRIMER_OPT_SIZE = 20
PRIMER_OPT_TM = 55.0
PRIMER_MIN_TM = 48.0
PRIMER_MAX_TM = 62.0
PRIMER_MAX_DIFF_TM = 1.0
PRIMER_MIN_GC = 20.0
PRIMER_OPT_GC_PERCENT = 50.0
PRIMER_MAX_GC = 80.0
PRIMER_SELF_ANY = 6.0
PRIMER_SELF_END = 3.0
PRIMER_MAX_POLY_X = 3
PRIMER_NUM_RETURN = 3

# PIPE4 SPECIFIC PARAMETERS
# [0/1] 1: run RepeatMasker on the sequences with primers (not available on Windows). The
# primer table is completed with information on RepeatMasker hits
rm = 1

# Full path to the RepeatMasker executables. (e.g. /usr/local/RepeatMasker/) If the folder is in
# your path it can be left empty.
rm_path = /home/lgbio/programas/RepeatMasker/RepeatMasker/

# RepeatMasker library
rm_lib = eukaryota

# [0/1] 1: check for contamination by BLASTing sequences against the NCBI nt database (remote
# or local option)
check_contamination = 1

# e-value for the local BLAST db used for the contamination check
db_evalue = 1e-20

# QDD.pl SPECIFIC PARAMETERS
# [0/1] (1 to sort sequences according to tags)
tag = 0

# fasta file with tag sequences
tag_file =

# [0/1] (1 to run pipe1, pipe2, pipe3 in one go)
run_all = 1

# folder containing all input files for batch submission; must not contain other files
input_folder =
